<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div id = "div0"><h1>The Oregano Trail</h1></div>
            <div id = "div1">
                <h2>Dealer Adventures</h2>
                <p>
                    You are an Oregano dealer trying to pedal your wares and get the cash you owe to the Spice Cartel.  
                    You have one day to raise $300 and have 1/5 a kilo of the green stuff.  You need to head out and start 
                    making your rounds before the cartel starts sending out their thugs.
                    <br>

                    
                </p>
            
            </div>
            <div id = "div0">
            <a href="/start"> Begin Adventure! </a> </div>
    </body>
</html>